@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

html,
body,
#root,
#container {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
  height: 100%;
  width: 100%;
}

#aim {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  border: 2px solid rgb(249, 249, 249);
  z-index: 2;
}

#stats {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#bullets {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate3d(-100%, -100%, 0);
  z-index: 2;
  font-size: 50px;
  color: greenyellow;
  font-weight: 800;
}
